
# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Nesse desafio eu preciso da contagem distinta dos dados da coluna `Customer.City` onde a contagem é >= a 2 linhas e por ordem alfabetica. 

resultado esperado:  

| City | numero_de_linhas 
|--------------:|--------------
| Berlin        |          2                  
| London        |          2                  
| Mountain View |          2                      
| Paris         |          2                
| Prague        |          2                
| São Paulo     |          2   

Na celula onde tem `%%sql` tu vai escrever a query abaixo dela, exemplo:  
```python
%%sql
select * from Customer
```

Para resolução tu podes usar a documentação do sqlite:https://www.sqlite.org/docs.html

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

In [3]:
%%sql
SELECT COUNT(City) FROM Customer;

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(59,)]

In [5]:
%%sql
SELECT * FROM Customer LIMIT 10;

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4),
 (6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5),
 (7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5),
 (8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4),
 (9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4),
 (10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)]

A cláusula HAVING é usada para especificar condições de filtragem em grupos de registros ou agregações. É frequentemente usada em conjunto com a cláusula GROUP BY para filtrar as colunas agrupadas

In [6]:
%%sql
SELECT City, COUNT(City) AS numero_de_linhas FROM Customer GROUP BY City HAVING COUNT(City) > 1 ORDER BY City

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[('Berlin', 2),
 ('London', 2),
 ('Mountain View', 2),
 ('Paris', 2),
 ('Prague', 2),
 ('São Paulo', 2)]